<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ location['name'] }}</title>
  </head>
  <body>
    <h1>{{ location['name'] }}</h1>
    <p><strong>Type:</strong> {{ location['type'] }}</p>
    <p><strong>Dimension:</strong> {{ location['dimension'] }}</p>
    <h2>Residents</h2>
    <ul>
      {% for resident in location['residents'] %}
      <li>{{ resident }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
